
.header-content{
    background: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    flex-grow: 1;
}

.header-links{
    display: flex;    
    gap: 16px;
}

.header-logo{
    display: flex;
    justify-content: space-between;
    align-items:center;
    font-weight: bolder;
}

h1{
    display:flex;
    font-size: 48px;
    color:#F9FAF8;
    margin: 35px;
    margin-left: 0px;
    margin-bottom: 0px;
}

h2{
    display: flex;
    width: 500px;
    font-size: 18px;
    color: #E5E7EB;

}


/* body{
    background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.9)), url("sam_banner.png");
    height: auto;
    max-width: auto;
    background-position: center;
    background-repeat:no-repeat;
    position:relative;

}
 */

.about-section {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.about-me, 
.personal-info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    font-size: 36px;
    font-weight: bolder; 
    margin: 32px;
}

/* .personal-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

} */


.card {
    display: flex;
    border: 5px solid black;
    gap: 12px;
    flex: 1;
    margin: 5px;
    height: 250px;
    align-items: center;
    width: 400px;

}

.quote {

    background-color: #E5E7EB;

}

.quote-text {
    display: flex;
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
    justify-content: center;
    padding: 20
}

/* .hero-second-text {
    font-size: 18px;
    color: #E5E7EB;
} */

.call-action {
    display: flex;
    justify-content: center;
    margin: 16px;
}

.call-text {
    display: flex;
    background-color: #3882F6;
    align-items: center;
    gap: 16px;
}

.call-text,
p {
    font-size: 24px;
    padding: 15px;

}


.footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
}